<h3>Edit figure</h3>
<form method="post" action="/figures/<%= @figure.id%>">
	<label>Edit Name:</label>
	<br>
	<input type="text" name="figure[name]" id="figure_name" placeholder="<%= @figure.name%>">
	<br>

	<label>Edit Landmarks:</label>
	<br>
	<ul>
		<% Landmark.all.each do |landmark|%>
		<li>
		  <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id%>"<%= 'checked' if @figure.landmarks.include?(landmark)%> ><%= landmark.name%></input>
		</li>
		<% end %>
	</ul>
	<br>
	<label>and or, create figure</label>
	<br>
	<label>Landmark name:</label>
	<input type="text"  name="landmark[name]" id="new_landmark">
	
	<br>
	<label>Landmark year completed:</label>
	<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
	<br>
    

    <label>Titles:</label>
    <br>
    <ul>
	    <% Title.all.each do |title|%>
	      <li>
	        <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%= title.id %>" <%= 'checked' if @figure.titles.include?(title)%>><%= title.name%></input>
	      </li>
	    <% end%>
    </ul>
    <br>
    <label>and or, create title</label>
    <input type="text" name="title[name]" id="new_title">
    <br>


	<input type="submit" value="Edit Figure">
</form>